
body {
	background-color:  black;
}

#boxes {
	height: 116px;
	width: 812px;
	padding-right: 10px;
	padding-top: 50px;
	margin: auto;
	position: absolute;
	top:0; left: 0; bottom: 0; right: 0;
}

.box {
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	float:left;
}

#c {
	background-color: red;
	border: 3px #990000;
}
#d {
	background-color: blue;
	border: 3px white;
}
#e {
	background-color: yellow;
	border: 3px solid-yellow;
}
#f {
	background-color: green;
	border: 3px solid-green;
}
#g {
	background-color: orange;
	border: 3px solid-orange;
}
#a {
	background-color: violet;
	border: 3px solid-violet;
}
#b {
	background-color: purple;
	border: 3px solid-purple;
}

#c:hover {
    background-color:#b30000;
    cursor: pointer;
}

#d:hover {
    background-color:#000066;
    cursor: pointer;
}
#e:hover {
    background-color:#cccc00;
    cursor: pointer;
}
#f:hover {
    background-color:#006600;
    cursor: pointer;
}
#g:hover {
    background-color:#ff944d;
    cursor: pointer;
}
#a:hover {
    background-color:#ff4dd2;
    cursor: pointer;
}
#b:hover {
    background-color:#9933ff;
    cursor: pointer;
}


